<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
    <link rel="stylesheet" href="css/dashboard.css" />

  </head>
  <body>
    <div class="navbar">
      <h1>Welcome {{user.firstname}} {{user.lastname}}</h1>
      <ul>

        <li><a href="./updateuser.hbs">Edit Profile</a></li>
        <li><a href="./logout">logout</a></li>
      </ul>
    </div>
    <div class="container">
      <div class="sidebar">
        <h2>Sidebar</h2>

        <ul>
          <li><a href="./dashboard.hbs">Dashboard</a></li>
          <li><a href="./profile.hbs">Profile</a></li>
          <li><a href="./courses.hbs">Courses</a></li>
          <li><a href="#">Grades</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="./logout">Logout</a></li>
        </ul>
      </div>
      <div class="content">
        <h1>Welcome to the Dashboard</h1>
        <!-- Flash messages -->
        {{#if messages.success}}
          <div class="flash-message success">
            {{messages.success}}
          </div>
        {{/if}}
        {{#if messages.Updatesuccess}}
          <div class="alert alert-success">
            {{messages.Updatesuccess}}
          </div>
        {{/if}}
        {{#if messages.deleteMessage}}
          <div class="alert alert-warning">
            <p>{{messages.deleteMessage}}</p>
          </div>
        {{/if}}
        {{#if messages.Usersuccess}}
          <div class="success-message">{{messages.success}}</div>
        {{/if}}
        {{!  <form id="search-form" role="search" method="post" action="/search">
                <div class="search-container">
                    <input type="search" name="searchTerm" id="searchInput" name="searchInput" placeholder="Search...">
                    <button type="submit" class="search-button" id="submit">Search</button>
                </div>
                </form>
                <div id="results"></div> }}

          <form action="/dashboard" method="post">
            
                <table id="userTable">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{>_show}}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7">
                                <a class="fcc-btn" href="/newuser.hbs">New User</a>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </form> 
             <section class="features">
          <div class="feature">
            <h3>Total Students</h3>
            <p>view the total no of students</p>
          </div>
          <div class="feature">
            <h3>Total courses</h3>
            <p>total courses available</p>
          </div>
          <div class="feature">
            <h3>total teachers</h3>
            <p>count of our teachers</p>
          </div>
          <div class="feature">
            <h3>Settings</h3>
            <p>Customize your account settings and preferences.</p>

          </div>
        </section>
        
    <script>
      // JavaScript code here

    </script>
  </body>
</html>