<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Registration Form</title>
    <link rel="stylesheet" href="css/update.css" />
    
  </head>
  <body>
     {{>sidebar}}

    <form action="/api/users/{{user._id}}?_method=PUT" method="post"
    id="updateuser">
      <h1 style="color: rgba(226, 194, 146, 0.707); ">Update User</h1>
      <label for="firstname">First Name:</label>
      <input
        type="text"
        id="firstname"
        name="firstname"
        value="{{user.firstname}}"
        required
      />

      <label for="lastname">Last Name:</label>
      <input
        type="text"
        id="lastname"
        name="lastname"
        value="{{user.lastname}}"
        required
      />

      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="email"
        value="{{user.email}}"
        required
      />

     {{!--  <label for="password">Password:</label>
      <input
        type="password"
        id="password"
        name="password"
        value="{{user.password}}"
        required
      />

      <label for="confirmpassword">Confirm Password:</label>
      <input
        type="password"
        id="confirmpassword"
        name="confirmpassword"
        value="{{user.confirmpassword}}"
        required
      /> --}}

      <label>Gender:</label>
      <label for="male"><input
          type="radio"
          id="radio-1"
          name="gender"
          value="male"
        {{#if_cond user.gender  '===' 'male' }}
  checked
{{else}}
  ""
{{/if_cond}}
        />
        Male</label>
      <label for="female"><input
          type="radio"
          id="radio-2"
          name="gender"
          value="female"
           {{#if_cond user.gender '===' 'female'}}
  checked
{{else}}
  ""
{{/if_cond}}
          
        />
        Female</label>

      <button type="submit">update user</button>
    </form>
 
  </body>
</html>